<h4>検索結果</h4>
<table class="today_book">
  <thead>
    <tr>
      <th class="today_book_t">投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="today_book_t"><%= search_book %></td>
    </tr>
  </tbody>
</table>