<div class="container">
  <h2><%= @model %>s search for "<%= @word %>"</h2>
  
  <% @books.each do |book| %>
  <!--投稿はカードで囲む-->
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">
        <%=link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </h6>
    </div>
  </div>
  <% end %>
</div>