/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.navbar {
  background-color: red;
}

/* メッセージコンテナに余白を追加 */
.message-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px; /* 左右に10pxずつ余白を追加 */
}

/* メッセージのスタイルを微調整 */
.message {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  max-width: 10%; /* コンテナ幅に対する最大幅（適宜調整） */
}

/* 送信者が右に表示されるメッセージのスタイル */
.message.right {
  align-self: flex-end;
}

.form-text-field {
  width: 50%;
  margin: 0 auto; /* 中央揃え */
}